.pic-50 { width:50%; }

.pic-15 { width: 15%; }

.pic-10 { width: 10%; }

[class*="pic-"]
{
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.logo
{
    max-width: 20%;
    height: auto;
}